@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    font-size: 2.25em;
    font-family: 'Orbitron', sans-serif;;
    background: none;
    color: white;
    padding: 8px;
    outline-style: none;
    border-style: none;
    border: 3px solid #20EE0A;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.459);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
    font-family: 'Orbitron', sans-serif;
    color: #20EE0A;
    background: url('bg.jpg') no-repeat center;
    background-size: cover;
    

}

.titulo h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    margin: 60px 0 40px 0;
    letter-spacing: .1em;
}

.calculadorabg {
    background: #282A2D;
    max-width: 1000px;
    margin: auto;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.301);
    padding: 60px 0;
    border-radius: 20px;
}

.calculadora {
    margin: 0 auto;
    max-width: 960px;
}


.calculadora_item {
    width: 460px;
    margin: 0 10px;
    float: left;
    margin-bottom: 20px;
}

.input {
    width: 460px;
    font-size: 2.25em;
    font-family: 'Orbitron', sans-serif;
    background: none;
    color: white;
    padding: 8px;
    outline-style: none;
    border-style: none;
    border: 3px solid #20EE0A;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.459);
}

.select {
    color: #20EE0A;
    background-color: #282A2D;
}

.select option:hover {
    background: none;
}


.btn {
    width: 230px;
    float: left;
    font-size: 2.35em;
    font-family: 'Orbitron', sans-serif;
    color: #20EE0A;
    background: none;
    border-style: none;
    border: 3px solid #20EE0A;
    padding: 8px;
    height: 100%;
    outline-style: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.459);
}

.btn:hover {
    color: cornsilk;
    transition: 0.5s;
    border: 3px solid white;
}

.resolver {
    width: 960px;
}

.input_resolver {
    width: 940px;
    margin: 0 10px;
}

